@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tilt+Warp&display=swap');

body{
    box-sizing: border-box;
    background-color: black;
    color:white;
}

.cabecalho{
    padding: 2% 0% 0% 25%;
}

.cabecalho__menu{
    display: flex;
    gap: 50px;
}

.cabecalho__menu__direcinamentos{
    font-family: 'Tilt Warp', cursive;
    color: aqua;
    font-size: 20px;
    text-decoration: none;
}

.h1{
    font-weight: bold;
}

.destaquetitulo{
    color: blueviolet;
}

.container{
    padding: 10% 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container__conteudo{
    width: 650px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container__conteudo__titulo{
    font-size: 33px;
    font-family: 'Tilt Warp', cursive;;
}

.container__conteudo__links__titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.container__conteudo__links{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.container__conteudo__links__estilo{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 380px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    padding: 20px 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.container__conteudo__links__estilo:hover{
    background-color: gray;
    padding: 10px;
}

.rodape{
    display: flex;
    justify-content: center;
    background-color: aqua;
    color: black;
    font-family: 'Tilt Warp', cursive;;
    font-size: 20px;
    padding: 20px;
}

.imagem{
    border-width: 10px; 
    border-style: double; 
    border-color: gray; 
}

