@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tilt+Warp&display=swap');

body{
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color:var(--cor-texto-principal);

}

:root{
    --cor-principal: #3C4048;
    --cor-texto-principal: white;
    --cor-secundaria: #ADDDD0;
    --cor-de-destaque: #00ABB3;
    --cor-do-holver: gray;
}

.cabecalho{
    padding: 2% 0% 0% 25%;
}

.cabecalho__menu{
    display: flex;
    gap: 50px;
}

.cabecalho__menu__direcinamentos{
    font-family: 'Tilt Warp', cursive;
    color: var(--cor-secundaria);
    font-size: 1.25rem;
    text-decoration: none;
}

/* Inicio Pagina home */

h1,h2,h3{
    font-weight: bold;
}

.destaquetitulo{
    color: var(--cor-de-destaque);
}

.aparencia{
    padding: 10% 25%;
    gap: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.aparencia__conteudo{
    width: 50%;
    width: 650px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aparencia__conteudo__titulo{
    font-size: 2rem;
    font-family: 'Tilt Warp', cursive;;
}

.aparencia__conteudo__links__titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.aparencia__conteudo__links{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.aparencia__conteudo__links__estilo{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 380px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    padding: 20px 0;
    margin: 5px 0;
    color: var(--cor-texto-principal);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.aparencia__conteudo__links__estilo:hover{
    background-color: var(--cor-do-holver);
    padding: 25px;
    margin: 0;
}

.rodape{
    display: flex;
    justify-content: center;
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    font-family: 'Tilt Warp', cursive;;
    font-size: 1.25rem;
    padding: 20px;
}

.imagem{
    width: 50%;
    border-width: 10px; 
    border-style: double; 
    border-color: var(--cor-secundaria); 
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 8%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    
    .aparencia{
        padding: 5%;
        flex-direction: column;
    }

    .aparencia__conteudo{
        width: auto;
    }

    .aparencia__conteudo__links__estilo{
        margin: 0;
    }

    .aparencia__conteudo__links__estilo:hover{
        background-color: var(--cor-do-holver);
        padding: 20px 0;
    }
}

ul {
    list-style-type: square;
}